<div id="<%= dom_id friend %>">
  <h1>Friend <%= friend.name %></h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
    <tbody>
    <tr>
      <td><%= friend.name %></td>
      <td><%= friend.surname %></td>
      <td><%= friend.email %></td>
      <td>
        <%= button_to "Delete", @friend, method: :delete, class: 'btn btn-danger' %>
      </td>
    </tr>
    </tbody>
  </table>
</div>