<h1>We meet on a vacation</h1>

<div id="friends" class="container-fluid">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Miejsce</th>
      <th scope="col">Actions</th>
    </tr>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.surname %></td>
        <td><%= friend.email %></td>
        <td><%= friend.place %></td>
        <td>
          <%= link_to "Show this friend", friend, class: 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "Back to friends", friends_path, class: 'btn btn-secondary' %>
</div>
