<!DOCTYPE html>
<html>
  <head>
    <title>Friends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <p class="navbar-brand"><b><%= friends() %></b></p>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= render 'partials/nav_link', label: 'Index', path: root_path %>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                A place of knowing
              </a>
              <ul class="dropdown-menu">
                <%= render 'partials/dropdown_link', label: 'School', path: school_friends_path %>
                <%= render 'partials/dropdown_link', label: 'Work', path: work_friends_path %>
                <%= render 'partials/dropdown_link', label: 'Party', path: party_friends_path %>
                <%= render 'partials/dropdown_link', label: 'Vacation', path: vacation_friends_path %>
                <%= render 'partials/dropdown_link', label: 'Shop', path: shop_friends_path %>
                <%= render 'partials/dropdown_link', label: 'Gym', path: gym_friends_path %>
                <%= render 'partials/dropdown_link', label: 'Restaurant', path: restaurant_friends_path %>
                <%= render 'partials/dropdown_link', label: 'Gallery', path: gallery_friends_path %>
              </ul>
            </li>

          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
